
.body{
  width: 80%;
  margin-top:100px;
  margin-left:10%;
}
.navbar{
  height:100px
}
.data{
  position: absolute;
margin-left: 6.88%;
/* margin-right: 70%;
margin-top: 3.41%;
margin-bottom: 93.85%; */

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;

color: #091E42;
}
.topdiv{
  position: absolute;
  margin-left: 10%;
  margin-top:25px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 42px;

color: #091E42;
}
.box{
  position: absolute;
  width:50%;
  margin-left: 18%;
  margin-top:78px;
  background: #F4F5F7;
  border-radius: 10px 10px 0px 0px;
}
.box1{
  position: absolute;
  margin-left: 5px;
  margin-top:10px;
  margin-bottom:10px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 20px;
/* identical to box height, or 111% */


color: #091E42;

opacity: 0.8;
}
.container{
  position: absolute;
  width:50%;
  margin-left: 18.75%;
  margin-top:78px;
  margin-bottom:70px;

background: #F4F5F7;
border-radius: 10px 10px 0px 0px;
}

.h4{
  width:150px;
  margin-right:0px;
  font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 100px;
line-height: 20px;
/* identical to box height, or 125% */


color: #091E42;

opacity: 0.8
}
.span{
  width:150px;
  font-family: Roboto;
  padding-top:5px;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
/* identical to box height, or 125% */


color: #091E42;

opacity: 0.6;
}
.p{
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
/* or 125% */


color: #091E42;

opacity: 0.6;
}
